version: '2'
services:
{% for service in docker_webstack_container_default %}
  {{ service }}:
    image: {{ docker_webstack_container_default[service].image }}
{# ############################################## #}
{% if docker_webstack_container_default[service].name is defined %}
    container_name: {{ docker_webstack_container_default[service].name }}
{% endif %}
{# ############################################## #}
{% if docker_webstack_container_default[service].hostname is defined %}
    hostname: {{ docker_webstack_container_default[service].hostname }}
{% endif %}
{# ############################################## #}
{% if docker_webstack_container_default[service].restart_policy is defined %}
    restart: {{ docker_webstack_container_default[service].restart_policy }}
{% endif %}
{# ############################################## #}
{% if docker_webstack_container_default[service].environment is defined %}
    environment:
{% for env in docker_webstack_container_default[service].environment %}
      - {{ env }}
{% endfor %}
{% endif %}
{# ############################################## #}
{% if docker_webstack_container_default[service].exposed_ports is defined %}
    expose:
{% for exposed_port in docker_webstack_container_default[service].exposed_ports %}
      - {{ exposed_port }}
{% endfor %}
{% endif %}
{# ############################################## #}
{% if docker_webstack_container_default[service].published_ports is defined %}
    ports:
{% for port in docker_webstack_container_default[service].published_ports %}
      - {{ port }}
{% endfor %}
{% endif %}
{# ############################################## #}
{% if docker_webstack_container_default[service].volumes is defined %}
    volumes:
{% for volume in docker_webstack_container_default[service].volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}
{# ############################################## #}
{% if docker_webstack_container_default[service].links is defined %}
    links:
{% for link in docker_webstack_container_default[service].links %}
      - {{ link }}
{% endfor %}
{% endif %}
{# ############################################## #}
{% if docker_webstack_container_default[service].dns is defined %}
    dns:
{% for dns in docker_webstack_container_default[service].dns %}
      - {{ dns }}
{% endfor %}
{% endif %}

{% endfor %}
